extends includes/header.pug

block content

	main.page-tips

		section.page-tips__item.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 01
					.item__text
						h2 Send a short message to introduce your offer
						p Avoid the clutter of email journeys and calls when introducing your offer. Simply send a short message with a link to a video explainer on social media.
				.item__content
					img(src="img/tips/tip1-2.svg" alt="Photo")
					img(src="img/tips/tip1-1.svg" alt="Photo")

		section.page-tips__item.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 02
					.item__text
						h2 Reframe their choice
						p When presented with the option between investing now and later, most investors would rather keep the luxury to decide later, known as procrastination. To remove this luxury, reframe the choice of now / later into two different options A and B.
				.item__content
					img(src="img/tips/tip2-2.svg" alt="Photo")
					img(src="img/tips/tip2-1.svg" alt="Photo")

		section.page-tips__item.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 03
					.item__text
						h2 Change «we» to «you»
						p Whenever you want to increase the level of a prospect’s interest, be investor-centric and take the perspective of the investor. Change any «we» assertion to «you».
				.item__content
					img(src="img/tips/tip3-2.svg" alt="Photo")
					img(src="img/tips/tip3-1.svg" alt="Photo")

		section.page-tips__item.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 04
					.item__text
						h2 Create alternative versions of your sales script
						p Not all clients have the same level of financial literacy. You should get several versions of your sales script with the right choice of vocabulary so that it will fit your prospect’s level of comprehension.
				.item__content
					img(src="img/tips/tip4-1.svg" alt="Photo")
					img(src="img/tips/tip4-2.svg" alt="Photo")

		section.page-tips__item.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 04
					.item__text
						h2 Always provide something of value
						p Sending the same repetitive emails is going to annoy most prospects. In order to get answers and to avoid appearing pushy, a follow-up must always contain valuable content.
				.item__content
					img(src="img/tips/tip5-2.svg" alt="Photo")
					img(src="img/tips/tip5-1.svg" alt="Photo")


	include includes/footer.pug



























	